{{ define "nav" }}
    <ul class="navbar-nav me-auto">
        <li class="navbar-item">
            <a class="nav-link active" href="/">Graph</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/nodes">Nodes</a>
        </li>
    </ul>
{{ end }}
{{ define "content" }}
    <div class="p-3 my-2">
        <img src="{{ .RoutingPath }}" class="img-fluid mx-auto d-block" alt="routing">
    </div>
{{ end }}